{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    {% if allEntries %}
        <h1>All Pages</h1>

        <ul>
            {% for entry in allEntries %}
                <!-- <li><a href="/encyclopedia/{{ entry.title }}">{{ entry.title }}</a></li> -->
                <li><a href="{% url 'wiki:displayEntry' entry.title %}">{{ entry.title }}</a></li>
            {% endfor %}
        </ul>

        {{ testMD }}

        <br>
        <br>

        {{ testHTML|safe }}
    {% else %}
        <p>no entries yet!</p>
    {% endif %}

{% endblock %}